# # Ignore LaTeX build files
doc.aux
doc.bbl
doc.bbl-SAVE-ERROR
doc.bcf
doc.blg
doc.fdb_latexmk
doc.fls
doc.log
doc.lof
doc.out
doc.run.xml
doc.synctex.gz
doc.toc
latexmkrc

# # Ignore texmf folder
texmf/