<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console Appender: Prints logs to the console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Define the appender for all logs -->
    <appender name="ALL_LOGS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <fileNamePattern>logs/trace-logs-%d{yyyy-MM-dd}.log</fileNamePattern>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/trace-logs-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Define the appender for MyLogger logs only -->
    <appender name="MY_LOGGER_LOGS" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <fileNamePattern>logs/info-log-%d{yyyy-MM-dd}.log</fileNamePattern>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/info-log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger: Sends logs to console & all-logs.log -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="ALL_LOGS"/>
    </root>

    <!-- MyLogger: Sends logs only to my-logger.log and console -->
    <logger name="cca.ruian_puller.utils.LoggerUtil" level="DEBUG" additivity="false">
        <appender-ref ref="MY_LOGGER_LOGS"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>
